<div id="dashboard-container">
	<div class="logout-button pull-right pointer" ng-click="logout()">
	   Log Out
	</div>
	<div class="planet-container col-xs-12">
	   <span class="col-xs-6">Hello {{user.name}}, search your planet</span>
	   <input type="text" class="col-sm-6" placeholder="Type Here" ng-model="searchText" ng-model-options="{debounce: 300, updateOn: blur}" search-items></input>
	</div>
	<div class="results-count planet-result text-center color-white col-xs-12" ng-show="planets.length && searched">
	   <span>{{resultCount }} result(s) found.</span>
	</div>
	<div class="results-count planet-result text-center color-white col-xs-12" ng-show="callLimitExceed">
	   <span>You have exceeded search call limits. Please try again in a minute.</span>
	</div>
	<div class="results-count planet-result text-center color-white col-xs-12" ng-show="!searched && searchText">
	   <span>Searching Results....</span>
	</div>
	<div ng-repeat="planet in planets |customSorter:'population'"" ng-style="{'width' : (100-$index) + '%', 'margin' :'0 ' + $index/2 + '%'}" class="planet-result color-white text-center col-xs-12" ng-show="planets">
	   <span>{{planet.name}}</span>
	   <span>{{planet.population}}</span>
	</div>
	<div ng-show="!planets.length && searchText && searched" class="planet-result color-white text-center">No such planet in Star Wars Universe</div>
	<div ng-show="nextItem && searchText" class="get-more-results text-center pointer" ng-click="getMorResults()">Get More Search Results</div>
</div>