/* app css stylesheet */

/*Common styles fo all Pages*/
html,
body {
    height: 100%;
    width: 100%;
}
body {
    background: url(../img/background-star-wars.jpg) center center repeat;
    overflow: auto;
}

/*Generic classes*/
.color-red{
    color: red;
}
.color-white{
    color: white;
}
.text-center{
    text-align: center;
}
.pointer{
    cursor: pointer;
}
/*Main layout styles*/
.page-container {
    margin-left: 0;
}

/*Login page styles*/

#sw-login-form-container {
    margin-top: 15%;
}
#sw-login-form-container .content-container {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
}
#sw-login-form-container .content-container h1 {
    color: #fff;
}
#sw-login-form-container .content-container input {
    margin: 10px 0 0 0;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
#sw-login-form-container .required-validation-message {
    display: block;
    margin: 5px 0 0 10px;
}
#sw-login-form-container #submitButton {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
}
#sw-login-form-container .username-container,
#sw-login-form-container .password-container {
    padding-bottom: 5px;
}
#sw-login-form-container .invalidCredential {
    padding-top: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #sw-login-form-container {
        margin-top: 40%;
    }
}


/*Dashboard page styles*/

#dashboard-container .logout-button {
    font-size: 22px;
    padding: 5px 10px;
}
#dashboard-container .planet-container,
#dashboard-container .planet-result {
    border: 1px solid white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0;
}
#dashboard-container .planet-container {
    margin-top: 25px;
    border: none;
}
#dashboard-container .planet-container input {
    color: black;
}
#dashboard-container .get-more-results {
    font-size: 24px;
    color: lightgreen;
}